apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: receiptify-backend-pvc
  labels:
    app: receiptify-backend
    tier: backend
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
